<h1 class="title">Suppliers app</h1>
<div class="container-sm mx-auto">
  <div class="col-sm-4 mx-auto mt-5">
    <div class="card text-center bg-secondary mb-3">
        <div class="card-header">
            About us
        </div>
        <div class="card-body">
          <h5 class="card-title">Discover a new way to shop</h5>
          <p class="card-text">Welcome to the biggest online market in the world. Follow the best suppliers activities 
            around the globe and contact them to get the highest quality standards at your home. Make your best choice 
            through our exclusive catalogue. You have the opportunity to get the most valuable products from around 
            the world. We are recognized by our prestige, consolidated through the time and supported by a huge network
            of stores and distribuitors all around the world.</p>
          <a href="http://localhost:4200/suppliers" routerLink="/suppliers" class="btn btn-info">See Suppliers</a>
        </div>
    </div>
  </div>
</div>