.fa-solid {
    cursor: pointer;
}

h3, h5 {
    font-family: 'Major Mono Display', monospace;
    text-align: center;
}

.buttons {
    justify-content: center;
}

.green-icon {
    color: #198754;
}

.red-icon {
    color: #dc3545;
}