@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>SuppOrd Tracks™</h1>
    <p class="lead">Welcome to the biggest online market in the world. Follow the best suppliers activities around the globe 
    and contact them to get the highest quality standards at your home</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Make a great choice</h2>
        <p>
            Make your best choice through our exclusive catalogue. You have the opportunity to get the most valuable
            products from around the world.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get the highest quality NOW!</h2>
        <p>We are recognized by our prestige, consolidated through the time and supported by a huge network
        of stores and distribuitors all around the world.</p>
    </div>
    <div class="col-md-4">
        <h2>Receive it at your door</h2>
        <p>We guarantee the best products in perfect conditions with our network of shippers from the establishment to your house</p>
    </div>
</div>